<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <video autoplay height="500px" width="auto" controls loop>
      <source src="/videos/dancevid.mp4" type="video/mp4">
    </video>

  </body>
</html>
